Pillow>=3.3.2,<=4.3.0
numpy>=1.8.1
scipy>=0.13.3
six>=1.5.2,<=1.10.0
requests>=2.20.0
gevent>=1.0
gevent-websocket>=0.10
Werkzeug==0.16.1
Flask>=0.12.3
Flask-WTF==0.14.3
wtforms>=2.0,<=2.1
Flask-SocketIO>=2.6
setuptools>=3.3,<=20.7.0
lmdb==0.87
h5py>=2.2.1,<=2.6.0
pydotplus
psutil>=5.7.0
matplotlib>=1.5.2
scikit-fmm>=0.0.9
bleach<2.0
python-magic>=0.2
boto>=2.48.0
scikit-image>=0.14.2
